# The Production Configuration File
# Note: This should be used for running the version of the program that outputs tweets

# Rules of Configuration Operation:
#    1. Operators, or options, are denoted by -<option_name>-
#    2. Comments are lines that start with #
#    3. The value associated with an operator must occur directly after the operator

# Operator Types:
#    1. -Sandbox Mode- , determines if the program is outputting tweets and responses to the log file.
#        ^ Can be set to ON or 1, and OFF or 0
#    2. -Root Tweet- ,  refers to the tweet ID of the tweet wanted for sentiment analysis
#    2. -Script Path- , holds the path to the directory containing all the scripts for pulling data.
#    3. -JSON Path-, holds the path to the json directory containing the json files responsible for pulled Twitter data.
#    4. -Log Path- , holds the file path for the log file containing responses to the tweets.
-----------------------------------
-Sandbox Mode-
OFF
-Root Tweet-
953393103213244416
-Script Path-
/home/caspe159/PlayGround/PythonTwitter/Scripts/
-JSON Path-
/home/caspe159/PlayGround/PythonTwitter/jsonFiles/
-Log Path-
/home/caspe159/PlayGround/PythonTwitter/OutputData/TweetAnalysis.log

